
.container{
    text-align: center;
    background-image: url('https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg');
    color: white;
    height: 1000px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 50px; */
    gap:7px;
    height: 400px; 
    /* margin-top: 20px; */ 
    /* background-image: url('https://t4.ftcdn.net/jpg/01/19/11/55/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg'); */
}
.form input{
    width: 250px;
    height: 30px;
    border-radius: 8px;
    border: none;
}
.container button{
    width: 250px;
    height: 30px;
    border-radius: 30px;
    background-color:hsl(133, 80%, 22%);
    color: white;
    border: none;
}
.red{
    color: red;
}
.green{
    color: green;
}